form {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el botón de enviar */
  .form-button {
    background-color: #007bff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Estilo para el botón de enviar al pasar el mouse */
  .form-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para los mensajes de error */
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  /* Estilo para la página en su totalidad */
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  
  /* Estilo para el encabezado del formulario */
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  