.navbar {
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .navbar a:hover {
    background-color: #555;
  }

  .navbar a svg {
    margin-left: 5px;
  }